.pSavoir {
    font-size: 2rem;
    margin : 8px;
}

.pInfos {
    font-size : 0.8rem;
    margin : 8px;
}

li {
    cursor:pointer;
}

#listeSavoirs {
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;

}

#listeSavoirs li {
    margin : 15px;
    padding : 8px;
    border : 0px solid black;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}